{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            JASER
        {% endblock %}
    </title>
    
    {% block css %}
        <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    {% endblock %}
</head>

<body>
    <nav>
        <div class="main-logo">
            <img src="static\home\images\logo.png" alt="logo">
            <p>Journal of Ancient Science, Education & Research</p>
        </div>
        <div class="Frame-19161">
            <div class="dropdown">
                <a href="#" class="dropbtn">Home</a>
            </div>

            <div class="dropdown">
                <a href="#" class="dropbtn">About</a>
                <div class="dropdown-content">
                    <a href="">About the Journal</a>
                    <a href="">Aims and Scope</a>
                    <a href="">Editorial Team</a>
                    <a href="">Advisory Board</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">Policies</a>
                <div class="dropdown-content">
                    <a href="">Gidelines for Authors</a>
                    <a href="">Open Acess Policy</a>
                    <a href="">Publications</a>
                    <a href="">Publication Ethics and Malpractice Statement </a>
                    <a href="">Privacy Statement</a>
                    <a href="">Disclaimer</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">Call For Papers</a>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">Archives</a>
            </div>

            <div class="dropdown">
                <a href="#" class="dropbtn">Contact</a>
            </div>
        </div>
        <div class="group-19161">
            <a href="">Login</a>
            <button>Register</button>
        </div>
    </nav>
    {% block content %}
    <!-- Page content goes here -->
    {% endblock %}

    <footer>
        <!-- Footer content -->
    </footer>

    <!-- Script block to include page-specific scripts -->
    <script src="{% static 'home/js/script.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
